{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="container-fluid" >
		<div class="row fh5co-post-entry">
			{% for article in article_list %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'article-detail-url' article.id %}"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'article-detail-url' article.id %}">{{article.category.title}}</a></span>
				<h2 class="fh5co-article-title"><a href="{% url 'article-detail-url' article.id %}">{{article.title}}</a></h2>
				<span class="fh5co-meta fh5co-date">{{article.created_at}}</span>
			</article>
			{% endfor %}
		</div>
	</div>

{% endblock %}
